<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iPhind.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>77E5BE901DF277D100DAEA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E5BEA41DF277D300DAEA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>77E5BEAF1DF277D300DAEA8F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
